.logo{
    width: 50%;
    margin-left: 15px;
    position: absolute;
    margin-top: 20px;
}

.title{
    width: 50%;
    margin-left: 680px;
    margin-top: 20px;
    position: absolute
}

.zxc{
    width: 50%;
    margin-left: 1375px;
    position: absolute;
    margin-top: 20px;
}

.asd img{
    width: 100%;
}

.lol{
    margin-top: 60px;
}

.vbn{
    width: 10px;
}

.sos{
    margin: 50px 600px;
}

.zaz{
    width: 100%;
    margin-left: 330px;
}

.zzz{
    position: absolute;
    
}
